/* Complete Side Bar */
.side-bar {
  display: flex;
  background-color: #0b192c;
  flex: 2;
  flex-direction: column;
}

/*
Profile Section contains: 
1. Image
2. Name
3. Description
*/
.profile-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* 1. Image */
.profile-section .profile-photo {
  border: 4px solid #FF6500;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

/* 1. Name */
.profile-section .title {
  color: #7ba7db;
  font-weight: 700;
  margin-top: 20px;
  font-size: 30px;
}

/* 1. Description */
.profile-section .description {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 25px;
}

/*
Sources of my JS notes: 
1. Namaste JS
2. Mrinal Sir's class notes
*/
.side-bar-content {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

#notes-type li {
  font-weight: 600;
  color: #1e3e62;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.notes-list {
  height: 100%;
  overflow-y: auto;
}

#namaste-js-notes,
#web-dev-notes {
  color: #1e3e62;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
}

#namaste-js-notes li,
#web-dev-notes li {
  color: #1e3e62;
  margin-top: 30px;
}
